@import '../utils/variables';
@import '../utils/mixins';

.input-search {
    margin-left: 100px;
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    transition: box-shadow .3s ease, background-color .3s ease;
    @include shadow;
    

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: $grey;
    }
}